//-------------------------------------
// FONT
//-------------------------------------

//-------------------------------------
// COLOR
//-------------------------------------
@c-blue: #0099ff;
@c-white: #fff;
@c-gray: #2f2f2e;
@c-lgray: #ccc;
@c-black: #000;
