//-------------------------------------
// FONT
//-------------------------------------

//-------------------------------------
// COLOR
//-------------------------------------
@c-orange: #ffd600;
@c-white: #fff;
@c-gray: #313131;
@c-lgray: #ccc;
@c-black: #000;
