<nav id="menu">
       <ul class="menu menu_vertical">
		<li class="menu__item">
			<a href="index.html" class="menu__link menu__link_dark">Главная</a>
		</li>
		<li class="menu__item">
			<a href="#portfolio" class="menu__link menu__link_dark">Наши работы</a>
		</li>
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark">О нас</a>
		</li>
		<li class="menu__item">
			<a href="services.html" class="menu__link menu__link_dark">Услуги</a>
		</li>
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark">Доставка и оплата</a>
		</li>
		<li class="menu__item">
			<a href="contacts.html" class="menu__link menu__link_dark">Контакты</a>
		</li>
		</ul>
	<div class="btn-close"></div>
</nav>