<footer class="footer">
	<nav class="footer__nav">
		<ul class="menu menu_center">
			<li class="menu__item menu__item_light"><a href="">главная</a></li>
			<li class="menu__item menu__item_light"><a href="">услуги</a></li>
			<li class="menu__item menu__item_light"><a href="">рассрочка</a></li>
			<li class="menu__item menu__item_light"><a href="">заказ</a></li>
			<li class="menu__item menu__item_light"><a href="">контакты</a></li>
		</ul>
	</nav>
	<div class="footer__img">
		<a href=""><img src="../img/logo-light.png" alt="ittech"></a>
	</div>
	<ul class="menu menu_center">
			<li class="menu__item menu__item_bordered"><a href=""><i class="icon-vk"></i></a></li>
			<li class="menu__item menu__item_bordered"><a href=""><i class="icon-facebook"></i></a></li>
			<li class="menu__item menu__item_bordered"><a href=""><i class="icon-insta"></i></a></li>
	</ul>
</footer>