<header class="header">
	<div class="container">
		<div class="header-top">
			<div class="header-top__logo">
				<a href="">
					<img src="../img/logo-txt.png" alt="ittech">
				</a>
			</div>
			<nav class="header-top__nav">
				<ul class="menu">
					<li class="menu__item"><a href="">главная</a></li>
					<li class="menu__item"><a href="">услуги</a></li>
					<li class="menu__item"><a href="">рассрочка</a></li>
					<li class="menu__item"><a href="">заказ</a></li>
					<li class="menu__item"><a href="">контакты</a></li>
				</ul>
			</nav>
		</div><!--header-top-->
		<div class="header__txt">
			<div class="header__logo">
				<a href="">
					<img src="../img/logo-rg-txt.png" alt="ittech">
				</a>
			</div>
			<div class="header__title">
				<h1>мы создаём сайты <span class="txt-select">в рассрочку</span></h1>
			</div>
		</div>
		<i class="icon icon-mouse header__mouse"></i>
	</div>
</header><!--header-->
