<header class="header">
	<div class="container">
		<div class="header__logo">
			<a href="index.html">
				<img src="../img/logo-top.png" alt="photodrukarnya">
			</a>
		</div>
		<nav class="header__menu">
			<ul class="menu">
				<li class="menu__item"><a href="index.html" class="menu__link">Главная</a></li>
				<li class="menu__item"><a href="#portfolio" class="menu__link">Наши работы</a></li>
				<li class="menu__item"><a href="" class="menu__link">О нас</a></li>
				<li class="menu__item"><a href="services.html" class="menu__link">Услуги</a></li>
				<li class="menu__item"><a href="" class="menu__link">Доставка и оплата</a></li>
				<li class="menu__item"><a href="contacts.html" class="menu__link">Контакты</a></li>
			</ul>
		</nav>
		<div class="header__kontact">
			<a href="tel:+375292213485" class="tel">+375(29)221-34-85</a>
			<div class="social">
				<a href="" class="social__item icon-vk"></a>
				<a href="" class="social__item icon-insta"></a>
				<a href="" class="social__item icon-odnokl"></a>
			</div>
		</div>
		<div class="hamburger">
  			<div class="hamburger-box">
    		<div class="hamburger-inner"></div>
  		</div>
</div>
	</div>
</header><!--header-->